<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://productappnebfkawaf47ee.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/a46f38b7-03e9-46dd-9ce3-338c21f4088c/resourceGroups/product-catalogue-pg/providers/Microsoft.Web/sites/productappnebfkawaf47ee</ResourceId>
    <PublishUrl>https://productappnebfkawaf47ee.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>